@font-face {
    font-family: 'Lexend';
    /* Name your font family */
    src: url('other/Lexend-VariableFont_wght.ttf');
    /* Locate the .ttf file within your directory*/
}

:root {
    --main-bg: rgba(255, 255, 255, 0.07);
    --main-border: solid 1px rgba(255, 255, 255, 0.2);
}

#app {
    overflow: hidden;
}

body {
    overflow: hidden;
    background: black;
}

* {
    outline: none;

    transition-timing-function: cubic-bezier(0.1, 0.885, 0.2, 1.05) !important;

    font-family: 'Lexend';
    color: white;

    -webkit-user-drag: none;
    user-select: none;
}

.SearchBar {
    color: white;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: var(--main-bg);
    border: var(--main-border);
    border-radius: 10px;
    outline: none;
}

.mainContent {
    position: absolute;
    left: 25px;
    top: 50px;
    bottom: 110px;
    right: 349px;
    border-radius: 15px;
    background: var(--main-bg);
    border: var(--main-border);
    transition: all 500ms;
}

.mainContent_compact {
    position: absolute;
    left: 25px;
    top: 50px;
    bottom: 110px;
    right: 25px;
    border-radius: 15px;
    background: var(--main-bg);
    border: var(--main-border);
    transition: all 500ms;
}

.Controlls {
    background: var(--main-bg);
    border: var(--main-border);
    border-radius: 15px;
    position: absolute;
    height: 60px;
    left: 25px;
    bottom: 25px;
    right: 25px;
    border-radius: 15px;

    transition: all 500ms;
}

.NowPlayng {
    color: white;
    position: absolute;
    background: var(--main-bg);
    border: var(--main-border);
    border-radius: 15px;

    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;

    width: 300px;

    bottom: 110px;
    right: 25px;
    top: 50px;

    margin: 0px;
    padding: 0px;

    transition: all 600ms;

    border-radius: 15px;
}

#NavBar {
    background: var(--main-bg);
    border: var(--main-border);
    border-radius: 15px;
    margin: 0px;
    position: absolute;
    left: 4px;
    top: 4px;
    bottom: 4px;
    width: 55px;
    border-radius: 10px;

    z-index: 999;

    overflow: hidden;

}

#NavBar:hover {
    left: -4px;
    top: -4px;
    bottom: -4px;
    width: 185px;

    backdrop-filter: blur(30px) brightness(0.8);
}

::-webkit-scrollbar {
    width: 8px;
    height: 12px;
    background-color: transparent;



    transition: all 200ms;
}



::-webkit-scrollbar-track {

    margin-top: 40px;

    margin-bottom: 40px;

    appearance: none;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.05);
    /* Colore dello sfondo della traccia */
    border-radius: 15px;
    /* Bordi arrotondati per la traccia */

    transition: all 200ms;
}

::-webkit-scrollbar-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: var(--main-bg);
    /* Colore del "pollice" della scrollbar */
    border-radius: 10px;
    /* Bordi arrotondati per il pollice */

    cursor: ns-resize;

    transition: all 200ms;
}

::-webkit-scrollbar-thumb:hover {
    appearance: none;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.15);
    /* Colore del pollice al passaggio del mouse */
}

.TogleQueweButton {
    position: fixed;
    right: 283px;
    bottom: 121px;

    width: 30px;
    height: 30px;

    border: none;
    background: transparent;
    padding: 0px;

    cursor: pointer;

    transition: all 200ms;
}

.TogleQueweButton:hover {
    transform: scale(1.1);
}

.TogleQueweButtonimg {

    margin: 0px;


    width: 30px;
    height: 30px;
}

.likeButton {
    position: absolute;
    top: 340px;
    right: 15px;

    background: transparent;
    border: 0px;

    height: 30px;
    width: 30px;

    cursor: pointer;

    padding: 0px;

    transition: all 200ms;
}

.likeButton:hover {
    transform: scale(1.1);
}

.likeNPbuttonImg {

    margin: 0px;

    height: 30px;
    width: 30px;
}

.bottone {
    width: 100%;
    height: 50px;

    margin-bottom: 5px;

    border: var(--main-border);
    background: var(--main-bg);

    border-radius: 10px;

    cursor: pointer;

    padding: 0px;

    transition: all 200ms;

    overflow: hidden;
}

.bottone:hover {
    background: rgba(255, 255, 255, 0.2);
}

.imgCanzone {

    position: relative;

    margin-top: 2px;
    left: 4px;

    border: var(--main-border);
    background: var(--main-bg);



    height: 40px;
    width: 40px;

    float: left;
    margin-left: -1px;
    pointer-events: none;

    border-radius: 6px;

    object-fit: cover;
}

.imgCanzoneYT {
    position: relative;

    top: 0.5px;
    left: 4px;

    border: var(--main-border);
    background: var(--main-bg);



    height: 40px;

    float: left;
    margin-left: -1px;
    pointer-events: none;

    border-radius: 6px;
}

.titolo {
    position: absolute;
    left: 55px;

    opacity: 1;

    font-size: 17px;
    font-weight: 800;

    width: 30%;

    color: white;

    transform: translateY(-15px);

    font-weight: 900;
    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.titoloYT {
    position: absolute;
    left: 85px;


    opacity: 1;

    font-size: 17px;
    font-weight: 800;

    color: white;

    transform: translateY(-17px);

    font-weight: 900;
    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.artista {
    position: absolute;

    margin-left: 55px;
    opacity: 1;

    font-size: 12px;
    font-weight: 400;

    transform: translateY(13px);

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.artistaYT {

    position: absolute;

    margin-left: 85px;
    opacity: 1;

    font-size: 12px;
    font-weight: 400;

    transform: translateY(13px);

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.ShowButton {
    background: transparent;
    border: none;
}

.ShowButton:hover {
    text-decoration: underline;
    cursor: pointer;
}

.albumbutton {

    border: var(--main-border);
    background: var(--main-bg);

    border-radius: 10px;

    vertical-align: top;

    height: 211px;
    width: 163px;
    max-width: 163px;

    overflow: hidden;

    margin-right: 10px;
    margin-bottom: 5px;

    cursor: pointer;
    padding: 0px;

    transition: all 200ms;
}

.albumbutton:hover {
    background: rgba(255, 255, 255, 0.2);
}

.albumimg {
    pointer-events: none;
    position: relative;

    top: 4px;

    width: 150px;
    height: 150px;

    object-fit: cover;

    border: var(--main-border);
    border-radius: 5px;
}

.albumtitle {
    position: relative;
    left: 6px;
    top: -13px;
    text-align: left;

    width: 152px;

    font-weight: 600;
    font-size: 18px;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.albumartist {
    position: relative;
    left: 6px;
    top: -30px;
    text-align: left;

    width: 152px;

    color: rgba(255, 255, 255, 0.50);

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.artimg {
    position: relative;
    left: 0px;
    top: 4px;

    width: 151px;
    height: 187px;

    border: var(--main-border);
    border-bottom: none;


    border-radius: 6px;
    pointer-events: none;

    object-fit: cover;

    mask-image: url('albumgradient.png');
}

.artName {

    color: rgba(255, 255, 255, 0.50);

    transform: translateY(-22px);

    width: 153px;

    font-weight: 600;
    font-size: 14px;

    margin-left: 6px;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.PLAYERimg {
    margin: 0px;

    border: 1px solid rgba(255, 255, 255, 0.27);

    position: absolute;

    left: 12px;
    top: 12px;
    right: 12px;

    height: 274px;
    width: 274px;

    opacity: 1;

    background-position: center;
    background-size: cover;

    border-radius: 5px;

    transition: all 600ms;

    object-fit: cover;
}

.PLAYERimg_compact {
    margin: 0px;

    border: 1px solid rgba(255, 255, 255, 0.27);

    position: absolute;

    left: 6px;
    top: 5.5px;


    height: 47px;
    width: 47px;

    opacity: 1;

    background-position: center;
    background-size: cover;

    border-radius: 8px;

    transition: all 600ms;

    object-fit: cover;
}


.PLAYERtitle {
    position: absolute;
    top: 311px;
    left: 12px;
    font-size: 25px;
    font-weight: bold;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    width: 246px;

    color: white;

    pointer-events: none;
}

.PLAYERtitle_compact {
    position: absolute;
    top: -4px;
    left: 62px;
    font-size: 15px;
    font-weight: bold;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    width: 170px;

    color: white;

    pointer-events: none;
}

.PLAYERart {
    position: absolute;
    top: 368px;
    left: 7px;
    font-size: 20px;
    font-weight: 600;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    background: transparent;
    border: none;

    cursor: pointer;

    color: rgba(255, 255, 255, 0.6);
}

.PLAYERart_compact {
    position: absolute;
    top: 30px;
    left: 57px;
    font-size: 15px;
    font-weight: 600;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    background: transparent;
    border: none;

    cursor: pointer;

    width: 170px;

    color: rgba(255, 255, 255, 0.6);
}

.PLAYERart:hover {
    text-decoration: underline;
}

.PLAYERalbum {
    position: absolute;
    top: 397px;
    left: 7px;
    font-size: 16px;
    font-weight: 600;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    width: 276px;

    background: transparent;
    border: none;

    cursor: pointer;

    color: rgba(255, 255, 255, 0.4);
}

.PLAYERalbum:hover {
    text-decoration: underline;
}

.PLAYERvideo {
    position: absolute;
    height: 485px;
    top: -15px;

    width: 868px;

    left: 50%;
    transform: translateX(-50%);

    mask-image: url('./gradient.png');

    opacity: 1;

    pointer-events: none;

    transition: all 500ms;

}


#quewePannel {
    position: fixed;
    right: 27px;
    bottom: 113px;

    width: 0px;
    height: calc(0px);

    opacity: 0;

    transition: all 300ms;

    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 7px;

    overflow-y: scroll;
    overflow-X: hidden;

    backdrop-filter: blur(20px);
}

.queweButton {
    opacity: 1;
}

.contextmenu {
    position: absolute;
    display: block;

    width: auto;
    height: auto;

    opacity: 0;

    transition: opacity 300ms;

    z-index: 999999;


    background: rgb(158, 25, 170);
}

.songalbum {

    position: relative;

    line-height: 20px;

    top: 13px;
    left: calc(50% - 100px/2);

    width: 20%;
    text-align: left;

    color: rgba(255, 255, 255, 0.5);

    overflow-X: hidden;

    text-wrap: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.homelabel {
    font-size: 22px;
    line-height: 10px;

    font-weight: 700;

    opacity: 0.5;
}

.recentElement {
    vertical-align: top;
    width: 277px;
    height: 98px;
    margin: 0px;
    cursor: pointer;

    border: var(--main-border);
    background: var(--main-bg);

    border-radius: 10px;

    margin-bottom: 30px;

    transition: all 200ms;
}

.recentElement:hover {
    background: rgba(255, 255, 255, 0.2);
}

.recentIMG {

    border: var(--main-border);

    position: relative;

    left: -25px;
    top: 2px;

    width: 218px;
    height: 88px;

    border-radius: 6px;

    pointer-events: none;

    pointer-events: none;

    object-fit: cover;
    mask-image: url(cardgradient.png);
}

.recentTitle {

    font-size: 18px;
    font-weight: 700;

    color: white;

    position: relative;

    top: -105px;
    right: 5px;


    overflow: hidden;
    /* Nasconde il testo in eccesso */
    text-overflow: ellipsis;
    /* Mostra i puntini di sospensione se il testo è troppo lungo */
    white-space: nowrap;
    /* Impedisce il ritorno a capo */

    pointer-events: none;

    text-align: right;

}

.recentART {

    position: relative;

    top: -150px;
    right: 5px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;


    pointer-events: none;

    text-align: right;

    color: rgba(255, 255, 255, 0.50);
}

.--TITLEDATA {
    pointer-events: none;
}

.--ARTISTDATA {
    pointer-events: none;
}

.--ALBUMDATA {
    pointer-events: none;
}

.--IMGDATA {
    pointer-events: none;
    object-fit: cover;
}

.--PLAYLISTNAMEDATA {
    pointer-events: none;
}

.--PLAYLISTINDEXDATA {
    display: none;
}

.--ITEMINDEXDATA {
    display: block;
}

-FOLDERINDEX {
    display: none;
}

.--SUBFOLDERINDEX {
    display: none;
}

.hidden {
    display: none;
}

.LikeButton {

    position: relative;

    width: 20px;
    height: 18px;

    float: right;

    right: 35px;
    top: -45px;

    border: none;
    background: transparent;

    padding: 0px;

    cursor: pointer;

}

.LikeButtonimg {


    left: 0px;
    top: 0px;

    position: absolute;

    width: 20px;
    height: 19px;
}

.localind {

    width: 17px;
    height: 17px;

    position: relative;

    float: right;

    right: 55px;
    top: -45px;

}

.SongIndex {

    color: rgba(255, 255, 255, 0.5);

    width: 19px;
    height: 19px;

    position: relative;

    float: right;

    right: 10px;
    top: -32px;
}

.queweImg {
    float: left;
    margin: 4px;
    height: 39px;
    width: 39px;

    pointer-events: none;

    border: var(--main-border);
    border-radius: 4px;

}

.queweTitle {

    position: relative;

    float: left;
    margin: 0px;
    font-size: 14px;

    line-height: 15px;

    margin-left: 10px;

    pointer-events: none;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 200px;

    font-weight: 700;

    transform: translateY(5px);
}

.queweArtist {
    margin: 0px;
    margin-left: 10px;
    float: left;
    font-size: 12px;

    margin-top: 10px;

    pointer-events: none;
}

.ArtistHeader {

    position: absolute;

    margin-top: 10px;
    border-radius: 10px;

    height: 1000px;
    width: 100%;

    mask-image: url('./albumgradientbig.png');
    padding: 0px;

    overflow: hidden;
}

.ArtisPageImg {

    position: absolute;
    left: 0px;
    top: 0px;

    margin: 0px;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    object-fit: cover;
    border: var(--main-border);

    opacity: 0.7;

}

.infoContainerArtist {
    background-color: transparent;

    position: relative;

    margin: 0px;

    top: 0px;
    left: 0px;

    z-index: 230;
}

.ArtPageTitle {

    margin-left: 10px;
    margin-top: 20.5vw;

    font-weight: 900;
    font-size: clamp(5.4vw, 3vw, 1.2rem);

    line-height: 10px;
}

#likeArtist {
    background: transparent;
    border: none;

    cursor: pointer;

    transform: translate(10px, -2vw);

    transition: all 200ms;
}

#likeArtist:hover {
    transform: translate(10px, -2vw) scale(1.1);
}

.likeimg {
    width: 40px;
    height: 40px;
}

.ArtistData {
    position: absolute;

    width: 100%;

    top: 900px;
}

.DragRegion {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 50px;

    margin: 0px;
    padding: 0px;

    background: transparent;
}

.windowBarButton {
    border: none;
    width: 30px;
    height: 30px;

    padding: 7px;

    margin-top: 10px;
    margin-right: 10px;

    float: right;

    background: transparent;

    opacity: 0.4;

    transition: all 200ms;

    cursor: pointer;

}

.windowBarButton:hover {
    transform: scale(1.1);
    opacity: 1;
}

.FScontainerout {

    position: absolute;

    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.FScontainer {
    background: transparent;

    position: absolute;


    left: 50px;
    top: 50%;
    right: 50px;

    transform: translateY(-50%);

    height: auto;
    overflow: hidden;
}

.FSimg {

    width: 30vw;

    margin: 20px;

    border: var(--main-border);

    border-radius: 10px;

    float: left;
}

.FStitle {
    position: relative;
    display: block;
    /* Cambia da inline a block */
    font-size: clamp(5vw, 3vw, 1.2rem);
    margin-left: 30px;
    margin-top: 11vw;

    max-width: 700px;

    line-height: 1px;
    /* rimuovi float: left; */

    font-weight: 800;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.FSartist {
    position: relative;
    display: block;
    /* Cambia da inline a block */
    font-size: 5vw;
    margin-left: 30px;
    line-height: 1px;
    /* rimuovi float: left; */

    font-weight: 800;
    opacity: 0.7;
}

.FSalbum {
    position: relative;
    display: block;
    /* Cambia da inline a block */
    font-size: 3vw;
    margin-left: 30px;
    line-height: 1px;
    /* rimuovi float: left; */

    font-weight: 800;
    opacity: 0.7;
}

.ControllsFS {

    position: absolute;

    left: 100px;
    right: 100px;

    height: 100px;

    bottom: 65px;

    border: none;
    background: none;

    opacity: 0.1;
}

.LocalPathButton {

    background: none;
    border: none;

    font-weight: 800;
    cursor: pointer;
}

.LocalPathButton:hover {
    text-decoration: underline;
}

.LocalFolder {

    width: 400px;
    height: 45px;

    cursor: pointer;

    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 10px;

    align-items: start;

    padding: 0px;
    margin: 0px;

    margin-right: 10px;

    overflow: hidden;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: all 200ms;
}

.LocalFolder:hover {
    background: rgba(255, 255, 255, 0.3);
}

.albumfolder {
    width: 140px;
    height: 180px;
}

.FileModeButton {
    border: var(--main-border);
    background: var(--main-bg);
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;

    padding: 10px;

    transition: all 200ms;
}

.FileModeButton:hover {
    background: rgba(255, 255, 255, 0.3);
}

.Fname {
    margin-left: 10px;
    float: left;
}

.Fpath {
    margin-right: 10px;
    float: right;
}

.LikedTitle {
    font-size: 60px;
    font-weight: 800;
}

.LikedIndicator {
    line-height: 10px;
    font-size: 30px;
    font-weight: 800;
    opacity: 0.5;
}

.PlaylistImg {

    display: inline;

    margin-top: 10px;

    width: 300px;
    height: 300px;

    border: var(--main-border);

    border-radius: 10px;
}

.PlaylistChangeImg {
    position: absolute;
    left: 1px;
    top: 48px;

    width: 300px;
    height: 300px;

    border: none;

    padding: none;


    font-size: 30px;


    background: transparent;

    opacity: 0;

    cursor: pointer;

    border-radius: 9px;

    transition: all 200ms;
}

.PlaylistChangeImg:hover {
    backdrop-filter: blur(20px);
    opacity: 1;
}




.PlaylistName {

    position: absolute;

    background: none;
    border: none;

    font-size: 80px;
    font-weight: 800;

    margin: 0px;

    top: 69px;
    left: 320px;

    outline: none;
    text-decoration: none;
}


.PLbutt {

    height: 50px;
    width: 100%;

    cursor: pointer;

    border: var(--main-border);
    background: rgba(0, 0, 0, 0.479);
    border-radius: 10px;

    transition: all 200ms;

    backdrop-filter: blur(10px);
}

.PLbutt:hover {
    background: rgba(255, 255, 255, 0.3);
}

.PLimgmenu {
    position: relative;

    left: -3px;

    border: var(--main-border);
    border-radius: 7px;

    height: 40px;
    width: 40px;

    float: left;
}

#PlaylistsMenu {
    position: absolute;
    left: 210px;
    top: 0px;

    height: auto;
    width: 200px;

    border-radius: 10px;

    backdrop-filter: blur(10px);
}

.dwpage {
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(4px);

    border-radius: 15px;
}

.dwpageinner {
    position: absolute;
    left: 70px;
    top: 100px;
    right: 70px;
    bottom: 100px;

    padding: 10px;


    border: var(--main-border);
    background: var(--main-bg);

    border-radius: 10px;

    overflow-y: scroll;
}

.dwelementbase {
    height: 49px;
    overflow: hidden;

    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 10px;

    margin-bottom: 5px;
}

.dwelementimg {
    position: relative;

    top: 2px;
    left: 2px;

    height: 44px;
    width: 44px;
    float: left;

    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 8px;
}

.dwelementtitle {
    float: left;
    color: white;

    margin-left: 20px;
}

.dwelementartist {
    float: left;
    margin-left: 20px;
}

.dwelementalbum {
    float: right;
    margin-right: 10px;
}

.dwppathselector {
    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 8px;

    cursor: pointer;

    transition: all 200ms;
}

.dwppathselector:hover {
    background: rgba(255, 255, 255, 0.3);
}

.dwpClose {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0px;
    background: transparent;
    border: none;
    transition: all 200ms;
    cursor: pointer;

    right: 0px;
}

.dwpClose:hover {
    transform: scale(1.1);
}

.dwpCloseImg {
    width: 20px;
    height: 20px;
    margin: 0px;
}

.dwelementcontainer {
    margin-top: 30px;
}

.DownloadButton {
    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 8px;

    cursor: pointer;

    transition: all 200ms;
}

.DownloadButton:hover {
    background: rgba(255, 255, 255, 0.3);
}

.PlaylistCreator {
    position: relative;

    vertical-align: top;

    left: 0px;
    top: 0px;

    height: 209px;
    width: 160px;

    border: var(--main-border);
    background: var(--main-bg);

    border-radius: 10px;
}



#newPpannel {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 60%;
    height: 400px;

    transform: translate(-50%, -50%);

    background: white;
}

#NewPlaylistimg {

    border: var(--main-border);
    background: transparent;
    border-radius: 7px;

    width: 150px;
    height: 150px;

    object-fit: cover;

    margin: 4px;

}

.NewPlaylistChangeimage {
    position: absolute;
    left: 5px;
    top: 5px;

    width: 150px;
    height: 150px;

    border-radius: 6px;

    border: none;

    background: rgba(0, 0, 0, 0.1);
    opacity: 0;

    backdrop-filter: blur(5px);

    transition: all 200ms;

    cursor: pointer;

    font-weight: 800;
}

.NewPlaylistChangeimage:hover {
    opacity: 1;
}

#NewPlaylistTitle {

    position: absolute;
    left: 4px;
    top: 160px;
    width: 145px;

    height: 43px;

    border: var(--main-border);
    background: var(--main-bg);

    border-radius: 7px;

    outline: none;
}

.NewPlaylistclose {
    position: absolute;

    top: 0px;
    right: 0px;

    width: 30px;
    height: 30px;

    background: transparent;
    border: none;

    cursor: pointer;

    transition: all 200ms;

}

.NewPlaylistclose:hover {
    transform: scale(1.1);
}

.NewPlaylistDone {

    background: none;
    border: none;
    font-weight: 700;

    cursor: pointer;

    position: absolute;

    right: 0px;
    bottom: 0px;
}

.NewPlaylistDone:hover {
    text-decoration: underline;
}

.NewPlaylistButton {

    display: inline-block;

    width: 163px;
    height: 211px;

    padding: 0px;
    margin: 0px;

    background: transparent;
    border: none;

    vertical-align: top;
}

.lyricsContainer {



    padding: 10px;

    height: 350px;

    margin-left: 12px;
    margin-right: 12px;

    border: var(--main-border);
    background: var(--main-bg);

    border-radius: 7px;

    overflow-Y: hidden;
}

#lyricOuter {
    position: relative;
    overflow: hidden;
    height: 100%;
    /* Imposta un'altezza fissa per il contenitore */
    width: 100%;
}

.lyricelement {
    height: 70px;
    text-align: left;
    width: 100%;
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 200ms;
    font-size: 15px;
}

.lyricelement:hover {
    color: rgba(255, 255, 255, 0.7);
}

.activelyricelement {
    height: 70px;
    text-align: left;
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    transition: all 200ms;
    font-size: 17px;
}

#lyricsContainer {
    position: relative;
    width: 100%;
    transition: transform 200ms ease;
}

.nonSyncedLyric {
    height: 70px;
    text-align: left;
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    transition: all 200ms;
    font-size: 15px;
}

.upNextDiv {

    overflow: hidden;

    margin-left: 12px;
    margin-right: 12px;

    height: 70px;

    border: var(--main-border);
    background: var(--main-bg);

    border-radius: 7px;

}

.moreInfoDiv {
    margin-top: 470px;
    padding-bottom: 12px;
}

.upNextImg {

    position: relative;

    height: 58px;
    width: 58px;

    left: 5px;
    top: 5px;

    border: var(--main-border);
    background: var(--main-bg);

    border-radius: 3px;

    opacity: 0.7;

    object-fit: cover;
}

.upNextTitle {

    position: relative;

    left: 75px;
    top: -78px;

    font-weight: 800;
    font-size: 22px;

    width: 190px;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upNextArtist {
    position: relative;

    left: 75px;
    top: -98px;

    opacity: 0.6;

    font-weight: 700;
    font-size: 15px;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    width: 190px;
}

@media only screen and (max-width: 600px) {
    .moreInfoDiv {
        display: none;
    }

    .TogleQueweButton {
        display: none;
    }
}

.dividerP {
    line-height: 5px;

    margin-left: 12px;

    opacity: 0.3;
}

.NextLoadedIndicator {
    background: rgb(104, 255, 104);

    position: absolute;

    width: 8px;
    height: 8px;

    right: 2px;
    top: 2px;

    border-radius: 10px;

    opacity: 0.3;
}

.ImmageOfLoadingSong {
    position: absolute;

    width: 276px;
    height: 276px;

    object-fit: cover;

    top: 12px;
    left: 12px;

    backdrop-filter: blur(10px);

    border: var(--main-border);
    border-radius: 5px;

}

#welcome {
    font-size: 46px;

    line-height: 50px;

    font-weight: 800;
}

#recentlyPlayed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    width: 100%;
    min-width: 600px;
}

.TopTracks {
    position: relative;
    left: 0px;
    right: 60px;

    width: 100%;
}

.LogContainer {

    position: absolute;

    top: 0px;

    width: auto;

    padding-left: 5px;
    padding-right: 5px;

    height: 33px;

    left: 256px;

    border: var(--main-border);
    background: var(--main-bg);

    border-radius: 10px;
}

.LoginButton {

    float: right;

    margin-top: 2px;

    height: 30px;
    width: 80px;

    background: transparent;
    border: none;

    opacity: 0.3;

    transition: all 200ms;
    cursor: pointer;

}

.LoginButton:hover {
    text-decoration: underline;
}

.ClickAllowText {
    position: relative;
    display: inline-block;
    top: -9px;
}

.ClickAllow {
    float: right;

    margin-top: 9px;
    margin-left: 6px;

    opacity: 0.3;

    background: transparent;
    border: none;

    transition: all 200ms;
    cursor: pointer;
}

.ClickAllow:hover {
    text-decoration: underline;
}

.Sessionplaceholder {
    position: absolute;
    top: -13px;
    font-size: 10px;
    opacity: 0.5;
}

.SessionName {
    display: inline-block;
    margin-top: 7px;

    max-width: 110px;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-right: 3px;

}


.SettingTogleBase {
    border-radius: 10px;

    min-width: 550px;

    width: calc(100% - 30px);
    height: 50px;
}

.SettingName {
    float: left;
    margin-left: 55px;

    font-weight: 600;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.SettingTogleButton {
    float: right;
    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 7px;

    cursor: pointer;

    width: 80px;
    height: 25px;

    padding: 0px;

    margin: 13px;

    transition: all 200ms;
}

.SettingTogleButton :hover {
    opacity: 1;
}

.SettingTogleButtonIndicator {

    opacity: 0.4;

    background: white;
    width: 40px;
    height: 24px;

    margin: 0px;

    border-radius: 7px;

    transition: all 200ms;
}

.MinusSliderButton {
    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 7px;
    color: white;

    cursor: pointer;

    transition: all 200ms;

    float: right;

    height: 25px;
    width: 25px;

    margin-top: 12px;
}

.MinusSliderButton:hover {
    background: rgba(255, 255, 255, 0.3);
}

.SliderButtonValue {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.PlusSliderButton {
    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 7px;
    color: white;

    cursor: pointer;

    transition: all 200ms;

    float: right;

    margin: 0px;

    height: 25px;
    width: 25px;

    margin-top: 12px;
    margin-right: 12px;
}

.PlusSliderButton:hover {
    background: rgba(255, 255, 255, 0.3);
}

.DropDownMenu {

    position: relative;
    float: right;

    top: 12px;

    right: 12px;


    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 7px;
    color: white;

    height: 25px;
    width: 80px;

    padding: 0px;


    transition: all 200ms;

    cursor: pointer;
}

.DropDownMenu:hover {
    background: rgba(255, 255, 255, 0.3);
}

.DropDownMenuExpanded {
    position: relative;
    float: right;

    width: 80px;

    top: 12px;

    right: 12px;

    padding: 0px;
}

.optionText {

    position: relative;

    top: -10px;

    left: 5px;
    right: 0px;

    text-align: left;

    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}

.DropDownMenuElement {

    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 7px;
    color: white;

    height: 25px;
    width: 80px;

    padding: 0px;


    transition: all 200ms;

    cursor: pointer;

    margin-top: -23px;
    transform: translateY(23px);

    backdrop-filter: blur(10px);


}

.DropDownMenuElement:hover {
    background: rgba(255, 255, 255, 0.3);
}

.NowPlayngCUrrentContainer {


    transition: all 200ms;

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.PlayPouse {
    position: absolute;
    top: 0px;
    left: 0px;

    margin: 0px;
    width: 50px;
    height: 50px;

    transition: all 500ms;
}

.previous {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 40px;
    height: 40px;

    transition: all 500ms;
}

.next {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 40px;
    height: 40px;

    transition: all 500ms;
}


.artheader {
    padding: 0px;
    margin-top: 100px;
    margin-bottom: 10px;
    width: auto;
    height: 70px;

    opacity: 0.4;

    border-radius: 10px;


}

.artheaderimg {
    position: relative;
    object-fit: cover;
    margin: 0px;
    height: 68px;
    width: 200px;
    border-radius: 10px;
    border: var(--main-border);
    background: var(--main-bg);
    display: inline;
    mask-image: url(cardgradient.png);
}

.artheadername {
    position: relative;
    display: inline;
    font-weight: 800;
    font-size: 40px;

    left: -120px;
    bottom: 22px;
}


#contextmenu {

    width: 200px;

    position: absolute;

    z-index: 99999;

    height: auto;

    padding: 0px;

    margin: 0px;

    background: transparent;


    border-radius: 14px;

    transition: opacity 300ms;

}

#CmenuImg {
    position: absolute;
    width: 200px;
    height: 50px;

    top: 0px;
    left: 0px;

    border: none;
    border-radius: 7px;

    mask-image: url('cardgradient.png');
    object-fit: cover;

    opacity: 0.7;
}

#CmenuTitle {
    position: absolute;
    left: 0px;
}

#CmenuAlbum {
    position: absolute;
}

#CmenuArtist {
    position: absolute;
}

#infoContainer {

    margin-bottom: 3px;

    width: 200px;

    height: 50px;


    position: relative;

    overflow: hidden;
    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 14px;

    backdrop-filter: blur(10px);

}

#LikeButton {
    background-image: url('like.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: none;
    background-color: transparent;

    width: 20px;
    height: 20px;

    position: absolute;
    right: 16px;
    top: 16px;

    cursor: pointer;

    transition: all 200ms;

}

#LikeButton:hover {
    transform: scale(1.1);
}

#downloadButton {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: none;
    background-color: transparent;

    width: 18px;
    height: 18px;
    right: 53px;
    top: 16px;

    position: absolute;

    cursor: pointer;

    transition: all 200ms;
}

#downloadButton:hover {
    transform: scale(1.1);
}

.CmenuButton {

    width: 200px;
    height: 30px;

    padding: 0px;
    margin: 0px;

    text-align: left;

    padding-left: 10px;


    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 14px;

    backdrop-filter: blur(10px);

    margin-top: 2px;

    cursor: pointer;

    transition: all 200ms;
}

.CmenuButton:hover {
    background: rgba(255, 255, 255, 0.3);
}


.CmPbutton {

    width: 200px;
    height: 25px;

    overflow: hidden;

}

.contextSubMenu {
    width: 200px;
}

.contextMenu {
    -webkit-app-region: no-drag;
}

.contextMenuButton {
    cursor: pointer;
    width: 200px;
    height: 40px;
    margin-top: 1px;
    border: var(--main-border);
    background: var(--main-bg);
    border-radius: 14px;
    transition: all 200ms;
    padding: 0px;
    backdrop-filter: blur(10px);
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    /* Definisce la direzione del flex per garantire l'ordine corretto */
    flex-direction: row;
}

.contextMenuButton:hover {
    background: rgba(255, 255, 255, 0.3);
}

.contextMenuButton p {
    position: relative;
    width: auto;
    height: 20px;
    /* Imposta l'ordine del testo a 2 */

    margin-left: 5px;
    margin-top: 17px;
    order: 2;
}

.contextMenuButton img {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 3px;

    border: var(--main-border);
    border-radius: 10px;

    object-fit: cover;
    /* Imposta l'ordine dell'immagine a 1 */
    order: 1;
}



.RecentSearch {

    height: 30px;
    background: none;
    border: none;

    opacity: 0.5;

    transition: all 80ms;

    cursor: pointer;

    font-size: 20px;
    font-weight: 800;

}

.RecentSearch:hover {
    text-decoration: underline;
    opacity: 1;
}

.RecentSearch:hover {
    color: white;
}

.RSButton {
    height: 33px;
    width: fit-content;

    padding: 0px;

    cursor: pointer;

    background: var(--main-bg);
    border: var(--main-border);
    border-radius: 10px;
    transition: all 200ms;

    margin-top: 5px;
    margin-left: 5px;
}

.RSDelButton {

    position: relative;

    margin-left: 10px;

    top: 2px;
    right: 5px;

    background: transparent;
    border: none;
    padding: 0px;

    cursor: pointer;

    transition: all 200ms;
}

.RSDelButton:hover {
    transform: scale(1.1);
}

.RSDelButton :hover {
    opacity: 1;
}

.RSDelButton img {
    height: 15px;
    width: 15px;


    opacity: 0.5;
}

.QueweButton {
    background: var(--main-bg);
    border: var(--main-border);
    border-radius: 10px;
    height: 50px;
    width: calc(100% - 9px);

    transform: translateY(-11px);

    padding: 0px;

    cursor: pointer;

    transition: all 200ms;

    margin-bottom: 5px;
    margin-left: 9px;

}

.QueweButton:hover {
    background: rgba(255, 255, 255, 0.3);
}

.QueweButtonIndex {

    position: relative;
    float: right;

    right: 6px;


}

.QueweButtonTitle {
    position: absolute;
    left: 55px;

    opacity: 1;

    font-size: 17px;
    font-weight: 800;

    width: calc(70%);

    color: white;

    transform: translateY(-15px);

    font-weight: 900;
    text-wrap: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.EditorInner {
    width: 300px;
    height: 363px;

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background: var(--main-bg);
    border: var(--main-border);
    border-radius: 15px;

}